.beneficies {
    .nav {
        &-item {
            width: 100%;

            img {
                width: 75px;
            }

            p {
                font:{
                    size: 14px;
                    weight: 600;
                }
                
                color: $blue;
            }

            @media (min-width: 992px) {
                width: 50%;

                p {
                    font-size: 16px;
                }
            }
        }
    }

    &-right {
        right: 0;
    }
}
