.blog{
    background-color: #f4f4f4;

    .card{
        background-color: transparent;
        height: 441px;
        border-radius: 20px;
        background:{
            position: center;
            size: cover;
        }

        &-body{
            color: $white;
        }

        &-title{
            font:{
                size: 16px;
                weight: 800;
            }

            @media(min-width: 992px){
                font-size: 25px;
            }
        }

        &-text{
            font-size: 12px;

            @media(min-width: 992px){
                font-size: 16px;
            }
        }

        &-more{
            height: auto;
            border:{
                bottom: solid #ccc !important;
                width: 2px;
                radius: inherit;
            }

            .card{  
                &-body{
                    color: #363636;
                    a{
                        text-decoration: none;
                        color: $orange;

                        @media(min-width: 992px){
                            font:{
                                size: 16px;
                                weight: 700;
                            }
                            
                            color: #363636;
                        }
                    }
                }
            }
        }
    }
}