.calculator {
    .nav {
        flex-wrap: inherit;

        &-link {
            @media (max-width: 768px) {
                padding: 3px;
            }

            &:hover{
                .calculator-hover{
                    display: flex;
                }
            }
        }
    }

    .btn {
        background-color: #ededed;
        border-radius: 10px;
        color: #a3a3a3;
        font-weight: 900;

        &-warning {
            background-color: $yellow;
            color: white;
        }
    }

    .form-floating {
        > label {
            top: 20px;
            font-size: 14px;

            @media (min-width: 768px) {
                font-size: 20px;
            }
        }

        .form-control {
            font-size: 14px;
            background-color: transparent;

            &:focus {
                outline: none;
                box-shadow: none;
                background-color: transparent;
            }
        }

        > .form-control ~ label {
            padding-top: 10px;
        }
    }

    &-hover{
        
        transition: 0.5s all;

        &-content{
            padding: 10px;
            background-color: $blue;
            height: 100%;
            color: $white;
            border-radius: 9px;

            h2{
                color: $white;
                font-weight: 900;

                @media(max-width: 992px){
                    font-size: 23px;
                }
            }

            @media(min-width: 768px) and (max-width: 992px){
                height: 451px;
            }

            @media(min-width: 992px){
                margin: 0.5rem 1rem;
                width: 342px;
                // margin-top: -446px;
                margin-left: 16px;
                // display: none;
                transition: 0.5s all;

                .btn{
                    font-size: 16px !important;
                    width: 75%;
                }
            }
        }

        @media(min-width: 992px){
            display: none;
            height: 362px;
            margin-top: -378px;
        }

        @media(min-width: 1200px){
            height: 438px;
            margin-top: -453px;
        }

        @media(min-width: 1400px){
            height: 523px;
            margin-top: -531px;
        }
    }

    .btn-hover{
        // display: block;
        &:hover{
            .calculator-hover {
                display: flex;
            }
        }
    }

    @media (min-width: 768px) {
        p {
            font-size: 18px;
        }

        .btn {
            font-size: 17px;
        }
    }
}
