.contact{
    form{
        .card{
            width: 90%;
            .form-control{
                border:{
                    bottom: 2px solid #dee2e6 !important;
                    radius: 0;
                }

                outline: none;
                box-shadow: none;
                background-color: transparent;
            }
        }
    }

    &-bg{
        background-color: #EEAF1C;
        height: 222px;
        margin:{
            top: -107px;
            bottom: -80px;
        }

        @media(min-width: 768px){
            width: 80%;
            right: 0;
            z-index: -1;
            position: absolute;
            margin-top: -185px;
        }

        @media(min-width: 1700px){
            width: 73%;
        }
    }
}