footer{
    .footer{
        &-text{
            p{
                font-size: 12px;

                @media(min-width: 768px){
                    font-size: 14px;
                }
            }
        }
    }

    .footer-mobile{
        bottom: 37px;
        width: 94%;
        z-index: 9999;
        
        .nav{
            background-color: $blue;
            border-radius: 5px;
            width: 95%;
        }
    }

    .nav-item{
        .nav-link{
            img{
                width: 30px;

            }
        }
    }
}