header {
    nav {
        z-index: 1;
        flex-direction: initial;
        .nav {
            &-link {
                font-size: 16px;
                color: $white;
            }
        }

        @media(min-width: 992px){
            .navbar-brand{
                z-index: p;
            }

            .navbar-collapse{
                margin-top: -36px;
                z-index: -1;
            }
        }
    }
}

.offcanvas{
    height: 100%;
    max-height: 80%;
    background-color: $blue;

    .btn-close{
        color: $white;
    }

    .nav-link{
        font-size: 15px;
    }
}
