.insight{
    @extend .structure;

    h1{
        color: $blue;
    }

    .card{
        &-body{
            border-radius: 20px;
            margin-top: -84px;
        }

        &-title{
            font-weight: 700;
        }
    }

    &-left{
        position: absolute;
        z-index: -1;
        margin-top: -37rem;
    }
}