.newsletter{
    background-color: $blue;
    margin-top: -2px;
    z-index: 1;

    .nav{
        li{
            text-align: center;
            display: flex;
            justify-content: center;
            width: 100%;

            h1{
                font:{
                    size: 20px;
                    weight: 700;
                }
                width: 65%;
                color: $orange;

            }

            .form-control{
                background-color: #002E6B;
                border-radius: 20px;
                color: $white;
            }

            ::-webkit-input-placeholder { /* Edge */
                font-style: italic;
                font-size: 12px;
            }

            :-ms-input-placeholder { /* Internet Explorer */
                font-style: italic;
                font-size: 12px;
            }

            ::placeholder {
                font-style: italic;
                font-size: 12px;
            }

            .btn-warning{
                border-radius: 100%;
                width: 50px;
                height: 50px;
                color: #fff;
                font-weight: 900;
            }

            @media(min-width: 992px){

                h1{
                    font-size: 25px;
                    width: 100%;
                }

                form{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-items: stretch;
                    align-content: stretch;

                    .form-control{
                        height: 43px;
                    }

                    .btn-warning{
                        margin-left: 10px;
                        margin-top: 0px !important;
                    }
                }
            }
        }
        @media(min-width: 992px){
            flex-wrap: inherit;
        }
    }
}