.structure {
    h1 {
        color: $white;
        font-weight: 500;
    }

    .bg-warning {
        height: 15rem;
        
        @media(min-width: 992px){
            height: 22rem;
        }
    }

    #structure-carousel {
        margin-top: -6rem;
        @media(min-width: 992px){
            margin-top: -13em;
        }
    }

    .card {
        background-color: transparent;

        &-body {
            background-color: #f4f4f4;
            margin-top: -20px;
            border: {
                bottom-left-radius: 20px;
                bottom-right-radius: 20px;
            }
        }

        &-title{
            font-weight: 500;

            @media(min-width: 992px){
                font-size: 25px;
            }
        }

        &-img-top {
            border-radius: 20px;
            z-index: 1;
        }

        &-text {
            font-size: 12px;
            @media(min-width: 992px){
                font-size: 16px;
            }
        }
    }

    &-number {
        background-color: $blue;
        color: $white;
        width: 80%;
        border-radius: 20px;

        li{
            width: 85%;

            &:nth-child(1),
            &:nth-child(2){
                border-bottom: 2px solid #EEAF1C;
            }
            
            p {
                strong {
                    font: {
                        size: 55px;
                        weight: 900;
                    }
                }

                &:nth-child(2){
                    font:{
                        size: 18px;
                        weight: 300;
                    }
                    margin-top: -32px;
                }
            }

            @media(min-width: 992px){
                width: calc(100% /3);
                border-bottom: none !important;
                
                &:nth-child(2){
                    
                    border:{
                        left: solid #EEAF1C;
                        right: solid #EEAF1C;
                        width: 3px;
                    }
                }
            }
        }

    }
}
