// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "muli", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #003b88;
$black: #363636;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #eeaf1c;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);
