// Fonts
@import url("https://use.typekit.net/wax2dta.css");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

//Owl Carousel
@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~owl.carousel";

//Imports
@import "header";
@import "beneficies";
@import "calculator";
@import "structure";
@import "insight";
@import "blog";
@import "newsletter";
@import "contacts";
@import "footer";

* {
    font-family: $font-family-sans-serif !important;
}

h1 {
    font-size: 35px;

    @media(min-width: 992px){
        font-size: 39px;
    }
}
h1,
h2,
h5 {
    color: $blue;
    font-weight: 500;
    @media (max-width: 768px) {
        text-align: center;
    }
}

.img-position{
    z-index: -3;
}
